/target

/.settings
/.classpath
/.project
/*/target

/swarm-common/.classpath
/swarm-common/.project
/swarm-common/.settings/org.eclipse.core.resources.prefs
/swarm-common/.settings/org.eclipse.jdt.core.prefs
/swarm-common/.settings/org.eclipse.m2e.core.prefs
/swarm-common/.settings/org.eclipse.wst.common.component
/swarm-common/.settings/org.eclipse.wst.common.project.facet.core.xml
/swarm-config/.classpath
/swarm-config/.project
/swarm-config/.settings/org.eclipse.core.resources.prefs
/swarm-config/.settings/org.eclipse.jdt.core.prefs
/swarm-config/.settings/org.eclipse.m2e.core.prefs
/swarm-config/.settings/org.eclipse.wst.common.component
/swarm-config/.settings/org.eclipse.wst.common.project.facet.core.xml
/swarm-gateway/.classpath
/swarm-gateway/.project
/swarm-gateway/.settings/.jsdtscope
/swarm-gateway/.settings/org.eclipse.core.resources.prefs
/swarm-gateway/.settings/org.eclipse.jdt.core.prefs
/swarm-gateway/.settings/org.eclipse.m2e.core.prefs
/swarm-gateway/.settings/org.eclipse.wst.common.component
/swarm-gateway/.settings/org.eclipse.wst.common.project.facet.core.xml
/swarm-gateway/.settings/org.eclipse.wst.jsdt.ui.superType.container
/swarm-gateway/.settings/org.eclipse.wst.jsdt.ui.superType.name
/swarm-gateway/.settings/org.eclipse.wst.validation.prefs
/swarm-legacy/.classpath
/swarm-legacy/.project
/swarm-legacy/.settings/org.eclipse.core.resources.prefs
/swarm-legacy/.settings/org.eclipse.jdt.core.prefs
/swarm-legacy/.settings/org.eclipse.m2e.core.prefs
/swarm-legacy/.settings/org.eclipse.wst.common.component
/swarm-legacy/.settings/org.eclipse.wst.common.project.facet.core.xml
/swarm-model/.classpath
/swarm-model/.project
/swarm-model/.settings/org.eclipse.core.resources.prefs
/swarm-model/.settings/org.eclipse.jdt.core.prefs
/swarm-model/.settings/org.eclipse.m2e.core.prefs
/swarm-model/.settings/org.eclipse.wst.common.component
/swarm-model/.settings/org.eclipse.wst.common.project.facet.core.xml
/swarm-pos-erply/.classpath
/swarm-pos-erply/.project
/swarm-pos-erply/.settings/org.eclipse.core.resources.prefs
/swarm-pos-erply/.settings/org.eclipse.jdt.core.prefs
/swarm-pos-erply/.settings/org.eclipse.m2e.core.prefs
/swarm-pos-integration/.classpath
/swarm-pos-integration/.project
/swarm-pos-integration/.settings/org.eclipse.core.resources.prefs
/swarm-pos-integration/.settings/org.eclipse.jdt.core.prefs
/swarm-pos-integration/.settings/org.eclipse.m2e.core.prefs
/swarm-pos-integration/.settings/org.eclipse.wst.common.component
/swarm-pos-integration/.settings/org.eclipse.wst.common.project.facet.core.xml
/swarm-pos-lspro/.classpath
/swarm-pos-lspro/.project
/swarm-pos-lspro/.settings/org.eclipse.core.resources.prefs
/swarm-pos-lspro/.settings/org.eclipse.jdt.core.prefs
/swarm-pos-lspro/.settings/org.eclipse.m2e.core.prefs
/swarm-pos-lspro/.settings/org.eclipse.wst.common.component
/swarm-pos-lspro/.settings/org.eclipse.wst.common.project.facet.core.xml
/swarm-pos-mos/.classpath
/swarm-pos-mos/.project
/swarm-pos-mos/.settings/org.eclipse.core.resources.prefs
/swarm-pos-mos/.settings/org.eclipse.jdt.core.prefs
/swarm-pos-mos/.settings/org.eclipse.m2e.core.prefs
/swarm-pos-retailpro/.classpath
/swarm-pos-retailpro/.project
/swarm-pos-retailpro/.settings/org.eclipse.core.resources.prefs
/swarm-pos-retailpro/.settings/org.eclipse.jdt.core.prefs
/swarm-pos-retailpro/.settings/org.eclipse.m2e.core.prefs
/swarm-pos-retailpro/.settings/org.eclipse.wst.common.component
/swarm-pos-retailpro/.settings/org.eclipse.wst.common.project.facet.core.xml
/swarm-pos-revel/.classpath
/swarm-pos-revel/.project
/swarm-pos-revel/.settings/org.eclipse.core.resources.prefs
/swarm-pos-revel/.settings/org.eclipse.jdt.core.prefs
/swarm-pos-revel/.settings/org.eclipse.m2e.core.prefs
/swarm-pos-revel/.settings/org.eclipse.wst.common.component
/swarm-pos-revel/.settings/org.eclipse.wst.common.project.facet.core.xml
/swarm-pos-shopify/.classpath
/swarm-pos-shopify/.project
/swarm-pos-shopify/.settings/org.eclipse.core.resources.prefs
/swarm-pos-shopify/.settings/org.eclipse.jdt.core.prefs
/swarm-pos-shopify/.settings/org.eclipse.m2e.core.prefs
/swarm-pos-shopify/.settings/org.eclipse.wst.common.component
/swarm-pos-shopify/.settings/org.eclipse.wst.common.project.facet.core.xml
/swarm-staging/.classpath
/swarm-staging/.project
/swarm-staging/.settings/org.eclipse.core.resources.prefs
/swarm-staging/.settings/org.eclipse.jdt.core.prefs
/swarm-staging/.settings/org.eclipse.m2e.core.prefs
/swarm-staging/.settings/org.eclipse.wst.common.component
/swarm-staging/.settings/org.eclipse.wst.common.project.facet.core.xml
/swarm-test-common/.classpath
/swarm-test-common/.project
/swarm-test-common/.settings/org.eclipse.core.resources.prefs
/swarm-test-common/.settings/org.eclipse.jdt.core.prefs
/swarm-test-common/.settings/org.eclipse.m2e.core.prefs
/swarm-test-integration/.classpath
/swarm-test-integration/.project
/swarm-test-integration/.settings/org.eclipse.core.resources.prefs
/swarm-test-integration/.settings/org.eclipse.jdt.core.prefs
/swarm-test-integration/.settings/org.eclipse.m2e.core.prefs
*.class
*.prefs
*.project
bin
/swarm-pos-rics/*.classpath
*.MF
.settings
/swarm-pos-kounta/.classpath
/swarm-admin/.classpath
*database-applicationContext.xml
