<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <!-- General application configuration -->
    <add key="serviceBaseUrl" value="https://pos-gateway-dev.swarm-mobile.com/swarm/api/" />
    <add key="maxUploadItems" value="100" />
    <!-- Properties from the installer -->
    <add key="swarmId" value="value" />
    <add key="installationPath" value="R:\Rpro" />
    <add key="workstation" value="1" />
    <!-- Minutes between deep exporting, no deep exporting if set to 0 -->
    <add key="deepExportInterval" value="0" />
    <!-- Should be an installation property, ignores invoices older than a certain age, use yyyy-MM-dd time format -->
    <add key="importingDataSince" value="2013-08-01" />
    <!-- Configuration file paths -->
    <add key="configDirectory" value="RetailProV8SwarmExporter" />
    <add key="configFile" value="SettingsV8.xml" />
    <add key="posSoftwareId" value="retailpro8" />
    <add key="securityProtocol" value="Tls" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- Number of days after which the exporter doesn't scan for synching invoices -->
    <add key="syncDaysLimit" value="2"/>
    <add key="overrideTableHistory" value="false"/>
  </appSettings>
  <nlog 
    xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    throwExceptions="false"
    internalLogFile="c:/logs/nlog.log" internalLogLevel="Warn">
    <extensions>
      <add assembly="RetailProCommon"/>
    </extensions>
    <variable name="logDirectory" value="${specialfolder:folder=LocalApplicationData}/RetailProV8SwarmExporter/logs/${date:format=yyyy.MM}" />    
    <targets async="true">
      <default-target-parameters xsi:type="File" autoFlush="true" encoding="UTF-8" concurrentWrites="true" createDirs="true" keepFileOpen="false" />
      <!-- Log to debugger -->
      <target name="debugger" xsi:type="Debugger" layout="${message} ${exception:format=tostring}" />
      <!-- Log to file -->
      <target name="file" xsi:type="File" fileName="${logDirectory}/${shortdate}.log" layout="${callsite} ${level:uppercase=true} ${longdate} ${message} ${exception:format=Message,Type,StackTrace}" />
      <!-- Create detailed log also -->
      <target name="detailedFile" xsi:type="File" fileName="${logDirectory}/${shortdate}.detailed.log" layout="${longdate}|${level:uppercase=true}|${stacktrace:topFrames=5}|${message} ${exception:format=Message,Type,ShortType,Method,StackTrace:maxInnerExceptionLevel=15:innerFormat=shortType,message,method}" />
      <target name="network" xsi:type="SwarmService" layout="${longdate}|${level:uppercase=true}|${stacktrace:topFrames=5}|${message} ${exception:format=Message,Type,ShortType,Method,StackTrace:maxInnerExceptionLevel=15:innerFormat=shortType,message,method}"/>
    </targets>
    <rules>
      <!-- logger name="*" minlevel="Trace" writeTo="debugger" /-->
      <logger name="*" minlevel="Warn" writeTo="detailedFile" />
      <logger name="*" minlevel="Off" writeTo="network" />
      <!--logger name="*" minlevel="Warning" writeTo="file"/-->
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.13.0" newVersion="2.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.3.0" newVersion="2.6.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
</configuration>
