<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="swarmId" value="value" />
    <add key="serviceBaseUrl" value="https://pos-gateway-dev.swarm-mobile.com/swarm/api/" />
    <add key="maxUploadItems" value="100" />
    <add key="configDirectory" value="RetailProV9SwarmExporter" />
    <add key="configFile" value="SettingsV9.xml" />
    <add key="posSoftwareId" value="retailpro9" />
    <add key="securityProtocol" value="Tls" />
  </appSettings>
  <connectionStrings>
    <add name="retailProReport" connectionString="Data Source = (DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.10.137)(PORT = 1521))) (CONNECT_DATA = (SERVICE_NAME = rproods))); User Id = REPORTUSER; Password= REPORT;" />
  </connectionStrings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="false">
    <variable name="logDirectory" value="${specialfolder:folder=LocalApplicationData}/RetailProV9SwarmExporter/logs/${date:format=yyyy.MM}" />
    <extensions>
      <add assembly="RetailProCommon"/>
    </extensions>
    <targets async="true">
      <default-target-parameters xsi:type="File" autoFlush="true" encoding="UTF-8" concurrentWrites="true" createDirs="true" keepFileOpen="false" />
      <!-- Log to debugger -->
      <target name="debugger" xsi:type="Debugger" layout="${message} ${exception:format=tostring}" />

      <!-- Log to file -->
      <target name="file" xsi:type="File" fileName="${shortdate}.log" layout="${callsite} ${longdate} ${message} ${exception:format=Message,Type,StackTrace}" />

      <!-- Create detailed log also -->
      <target name="detailedFile" xsi:type="File" fileName="${logDirectory}/${shortdate}.detailed.log" layout="${longdate}|${stacktrace:topFrames=5}|${message} ${exception:format=Message,Type,ShortType,Method,StackTrace:maxInnerExceptionLevel=15:innerFormat=shortType,message,method}" />
      <target name="network" xsi:type="SwarmService" layout="${longdate}|${level:uppercase=true}|${stacktrace:topFrames=5}|${message} ${exception:format=Message,Type,ShortType,Method,StackTrace:maxInnerExceptionLevel=15:innerFormat=shortType,message,method}" />
    </targets>
    <rules>
      <!-- logger name="*" minlevel="Trace" writeTo="debugger" /-->
      <logger name="*" minlevel="Warn" writeTo="detailedFile" />
      <logger name="*" minlevel="Off" writeTo="network" />
      <!--logger name="*" minlevel="Warning" writeTo="file"/-->
    </rules>
  </nlog>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.18.0" newVersion="2.2.18.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
</configuration>
